<div class="shopping-cart-container">
  <button mat-raised-button (click)="opencart()">
    <mat-icon
      ><span class="material-symbols-outlined">shopping_cart</span></mat-icon
    >
  </button>
</div>
<body>
  @if (filteredItems.length === 0) {
  <div class="recipe-list-container">
    @for (item of allitems; track $index) {
    <app-product-list [item]="item" [id]="item.id" />
    }
  </div>
  } @else {
  <div class="recipe-list-container">
    @for (item of filteredItems; track $index) {
    <app-product-list [item]="item" [id]="item.id"></app-product-list>
    }
  </div>
  }
</body>
