<mat-card class="example-card" appearance="outlined">
  <mat-card-header> </mat-card-header>
  <img mat-card-image src="{{ item.image }}" alt="Item Poster" />
  <mat-card-content>
    <div class="form-content">
      <mat-card-title>{{ item.name }}</mat-card-title>

      <mat-card-title>{{ item.amount | currency : "INR" }}</mat-card-title>

      <button mat-raised-button (click)="openProductOverview()">
        <mat-icon><span class="material-symbols-outlined">info</span></mat-icon>
      </button>
      <button mat-raised-button (click)="addToCart(item)">
        <mat-icon><span class="material-symbols-outlined">add</span></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
